.idea
billing-service/.idea
billing-service/target

cloud-gateway/.idea
cloud-gateway/target

costumer-service/.idea
costumer-service/target

eureka-sever/.idea
eureka-sever/target

hystrix-dashboard/.idea
hystrix-dashboard/target

inventor-service/.idea
inventor-service/target